@{ ViewData["Title"] = "Contact Us"; }
<h3><strong>@ViewData["Title"]</strong></h3>
<br />
<br />
<p style="color:black;font-size:x-large"><b>Contact Number : +91 9876543212 </b></p>
<br />
<p style="color:black;font-size:x-large"><b>Email : shwetan1097@gmail.com </b></p>